anyio==4.9.0
astroid==2.5
attrs==25.3.0
beautifulsoup4==4.13.4
bibtexparser==1.4.3
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
crossref-commons==0.0.7
future==1.0.0
h11==0.16.0
habanero==2.2.0
HTMLParser==0.0.2
httpcore==1.0.9
httpx==0.28.1
idna==2.10
isort==5.13.2
lazy-object-proxy==1.11.0
mccabe==0.6.1
numpy==2.2.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
pyChainedProxy==1.3
pylint==2.7.1
PyPaperBot==1.4.1
pyparsing==3.2.3
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
ratelimit==2.2.1
requests==2.32.3
selenium==4.32.0
setuptools==80.3.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
toml==0.10.2
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2025.2
undetected-chromedriver==3.5.5
urllib3==2.2.0
websocket-client==1.8.0
websockets==15.0.1
wrapt==1.12.1
wsproto==1.2.0